.footer {
  grid-area: footer;
  background: $green;
  color: #fff;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
  }
  a, div > span {
    padding: 1em 1.5em;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background: darken($green, 15%);
    }
  }
}
