.slides {
  grid-area: slides;
}

section {
  display: none;
  cursor: default;
  height: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 1em;
  &.active {
    display: block;
  }
  &.splash {
    flex-direction: column;
    justify-content: center;
    &.active {
      display: flex;
    }
  }
}

.delayed {
  display: none;
  &.shown {
    display: block;
  }
  &.hidden {
    display: none !important;
  }
}

table.delayed.shown {
  display: table;
}

blockquote {
  margin-bottom: 1em;
  padding: 1em;
  background: $lightgray;
  &:before {
    content: "\201C";
    font-size: 2em;
    line-height: 1;
  }
  p:first-child {
    text-indent: 1em;
    margin-top: -2em;
  }
  cite {
    display: block;
    margin-top: -1em;
    text-align: right;
    font-style: italic;
    &:before {
      content: "\2014";
      margin-right: .5em;
    }
  }
}

ul {
  margin: 0 0 .75em 2em;
  li {
    margin: .5em 0;
  }
}

table {
  margin: 1em auto;
  th, td {
    border: 1px solid $softgray;
    padding: .5em;
  }
}

figure {
  margin: 2em 0;
  img {
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
  }
}

@media (min-width: 64rem) {
  section {
    font-size: 1.25em;
  }
}

.card {
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  h1, h2, h3, h4 {
    text-align: left;
  }
  blockquote {
    padding: 0;
    background: transparent;
  }
  *:last-child {
    margin-bottom: 0;
  }
  &.delayed {
    display: block;
    opacity: 0;
    transition: .5s;
    &.shown {
      opacity: 1;
    }
    &.hidden {
      opacity: 0 !important;
    }
  }
}

.column .card {
  min-height: 100%;
}

.hero {
  background: $routledge;
  color: #fff;
  padding: 3em 1em;
  *:last-child {
    margin-bottom: 0;
  }
}

.diagram {
  font-size: 1.25em;
  .row {
    display: flex;
    align-items: center;
  }
  .cell {
    flex: 1;
    text-align: center;
    padding: 1em 0;
  }
}
