---
---
$black: #282828;
$gray: lighten($black, 50%);
$lightgray: lighten($black, 70%);
$red: #dd514c;
$orange: #f37b1d;
$yellow: #fad232;
$green: #5eb95e;
$blue: #1f8dd6;
$purple: #8058a5;

$width: 44em;

* {
  box-sizing: border-box;
}

body {
  font-family: "open sans", helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.7;
  color: $black;
  margin: 0;
}

header {
  padding: 1em;
  img {
    display: block;
    width: 3em;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-size: 1.75em;
    margin: 0;
  }
}

nav {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.25em;
  a {
    display: block;
    padding: 0 .5em;
    color: $gray;
    text-decoration: none;
    &.active,
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

main {
  padding: 1em;
  max-width: $width;
  margin: 0 auto;
  h1, h2, h3 {
    text-align: center;
    margin: 0 0 1rem;
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
  p {
    margin: 0 0 1em;
  }
  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  blockquote {
    font-size: .9em;
    border-left: .5em solid #ccc;
    background: #f9f9f9;
    padding: 1em;
    p:last-child {
      margin-bottom: 0;
    }
    cite {
      display: block;
      text-align: right;
      &:before {
        content: "--- ";
      }
    }
  }
  ul {
    margin: 0 2.5em .75em;
    padding: 0;
    li {
      margin: .5em 0;
      p {
        margin: 0;
      }
    }
  }
  table {
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;
    overflow: auto;
    td, th {
      text-align: left;
      vertical-align: top;
      border: 1px solid $lightgray;
      padding: 0 .25em;
    }
  }
}

footer {
  margin-top: 3em;
  border-top: 1px solid $gray;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    display: inline-block;
    margin: 0 1em;
    text-decoration: none;
    color: $gray;
    &:hover {
      color: $black;
    }
  }
}

.red { color: $red; }
.orange { color: $orange; }
.yellow { color: $yellow; }
.green { color: $green; }
.blue { color: $blue; }
.purple { color: $purple; }

.home {
  main {
    img {
      display: block;
      border-radius: 3px;
      width: 10em;
      margin: 1em auto;
    }
  }
}

.teaching {
  ul {
    list-style: none;
    padding: 0;
    li {
      text-align: center;
      margin-bottom: .75em;
    }
  }
}

.presentation {
  header, nav, footer {
    display: none;
  }
  main {
    position: absolute;
    max-width: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  section {
    display: none;
    height: 100%;
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 1rem;
    font-size: 1.5em;
    &.active {
      display: block;
    }
    &.title {
      justify-content: center;
      &.active {
        display: flex;
        flex-direction: column;
      }
    }
    &.centred {
      text-align: center;
    }
    h2 {
      background: $blue;
      color: #fff;
      font-size: 1.2em;
      text-align: left;
      padding: 0 1rem;
      margin: 0 -1rem 1rem;
    }
    img {
      display: block;
      margin: 1em auto;
      max-width: 80%;
    }
    figure {
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        text-align: center;
        &:not(:last-child) {
          border-right: 1px solid $blue;
        }
      }
    }
  }
  .delayed {
    display: none;
    &.shown {
      display: block;
    }
  }
}
