.header {
  grid-area: header;
  margin: 1.5rem 1rem;
  img {
    display: block;
    width: 3em;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-size: 1.75em;
    font-weight: 600;
    margin: 0;
  }
}
