.nav {
  grid-area: nav;
  margin: 0 1rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.25em;
  a {
    display: block;
    padding: 0 .5em;
    color: $gray;
    text-decoration: none;
    &.active,
    &:hover {
      color: $black;
    }
  }
}
