---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/site.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31652558-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag () { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-31652558-1');
    </script>
    <title>Amyas Merivale</title>
  </head>
  <body class="grid">
    <header class="header">
      <img alt="glasses logo" src="/assets/img/favicon.ico">
      <h1>Amyas Merivale</h1>
    </header>
    <nav class="nav">
      {% for section in site.data.sections %}
        <a href="{{ section.url }}" class="{% if page.section == section.id %}active{% endif %}">{{ section.title }}</a>
      {% endfor %}
    </nav>
    <main class="main {{ page.section }}">
      {{ content }}
    </main>
    <footer class="footer">
      <a href="{{ site.orcid }}">@ORCiD</a>
      <a href="{{ site.scopus }}">@Scopus</a>
      <a href="{{ site.routledge }}">@Routledge</a>
      <a href="{{ site.github }}">@GitHub</a>
      <a href="{{ site.linkedin }}">@LinkedIn</a>
    </footer>
  </body>
</html>
