// colours
$black: #282828;
$gray: lighten($black, 50%);
$lightgray: lighten($black, 80%);
$softgray: rgba(0, 20, 80, 0.1);
$offwhite: #f7f9fb;
$routledge: #2a4c58;
$red: #dd514c;
$orange: #f37b1d;
$yellow: #fad232;
$green: #5eb95e;
$blue: #1f8dd6;
$purple: #8058a5;

// sizes
$width: 44em;
